* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.info-section {
  margin-right: 2em;
  text-align: center;
}

.score-display,
.level-display {
  margin: 1em 0;
  font-size: 1.2em;
}

.gameBoard-container {
  width: 306px;
  height: 607px;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameBoard {
  background-color: rgb(2, 2, 2);
  width: 300px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* .game-buttons {
  margin-top: 1.5em;
} */

button {
  padding: 0.5em 1em;
  margin-right: 0.5em;
  cursor: pointer;
}

.cell {
  width: calc(300px / 10);
  height: calc(600px / 20);
  border: 1px solid #ddd;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.8s ease;
}

.cyan {
  background: linear-gradient(45deg, cyan, lightcyan);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.yellow {
  background: linear-gradient(45deg, yellow, lightyellow);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.purple {
  background: linear-gradient(45deg, purple, mediumpurple);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.green {
  background: linear-gradient(45deg, green, lightgreen);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.red {
  background: linear-gradient(45deg, red, tomato);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.blue {
  background: linear-gradient(45deg, blue, lightblue);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.orange {
  background: linear-gradient(45deg, orange, moccasin);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.cell.ghost {
  background: transparent;
}

.cell.ghost.cyan {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 0 2px cyan; /* inset for inner border */
}

.cell.ghost.yellow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 0 2px yellow;
}
.cell.ghost.purple {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 0 2px purple;
}

.cell.ghost.green {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 0 2px green;
}

.cell.ghost.red {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 0 2px red;
}

.cell.ghost.blue {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 0 2px blue;
}

.cell.ghost.orange {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 0 2px orange;
}

@media (max-width: 600px) {
  .game-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .rules,
  .controls,
  .keyboard-controls {
    display: none;
  }

  .left-section,
  .right-section {
    margin: 20px 0;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .game-title {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .info-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .gameBoard-container,
  #gameBoard {
    width: 216px;
    height: 420px;
    margin: 20px 0;
  }

  .cell {
    width: calc(210px / 10);
    height: calc(420px / 20);
  }

  .level-display,
  .score-display,
  .startPauseButtons {
    margin-bottom: 10px;
  }

  .next-piece {
    flex: 1;
    font-size: 10px;
    text-align: center;
    width: 50%;
  }
  .level-display,
  .score-display {
    font-size: 10px;
    margin: 6px 5px;
  }

  .game-buttons button {
    padding: 2px 5px;
  }

  .next-piece h4 {
    font-size: 12px;
  }
  .game-buttons {
    flex-wrap: nowrap;
    overflow-x: auto;
    font-size: 4vw;
    width: 100%;
  }

  .game-buttons button {
    min-height: 10vh;
    max-height: auto;
    border: 1px solid black;
  }
  .startPauseButtons {
    font-size: 10px;
  }
  body {
    background-size: 150% 180%;
  }
  .info-wrapper,
  .next-piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 125px;
    flex: 1;
    text-align: center;
  }
}
