body {
  background-image: url("../assets/90-s-tetris-game-0438qkf6y8joxkfa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 101vh;
}

@keyframes blurExpand {
  0% {
    filter: blur(0px);
    transform: scale(1);
  }
  50% {
    filter: blur(5px);
    transform: scale(1.1);
  }
  100% {
    filter: blur(0px);
    transform: scale(1);
  }
}

.game-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: "Press Start 2P", cursive;
  font-size: 32px;
  background: linear-gradient(
    45deg,
    red,
    blue,
    green,
    yellow,
    cyan,
    purple,
    orange
  );
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.7), 5px 5px 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.controls h4,
.next-piece h4 {
  margin-top: 20px;
}

.controls ul {
  list-style-type: none;
  padding-left: 0;
}

.cell.WHITE {
  background-color: white;
  animation: blurExpand 200ms forwards;
}

.ghost {
  background: transparent;
  box-shadow: none;
}

button {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  background: linear-gradient(
    45deg,
    #ff9999,
    #ffcc99,
    #ffff99,
    #ccff99,
    #99ff99,
    #99ffcc,
    #99ffff,
    #cc99ff
  );
  border: 3px solid #000;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  color: #000;
  transition: transform 0.2s, background 0.2s;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

button:hover {
  transform: translateY(-3px);
  background: linear-gradient(
    45deg,
    #ff6666,
    #ff9933,
    #ffff66,
    #99ff66,
    #66ff66,
    #66ff99,
    #66ffff,
    #9933ff
  );
}

button:active {
  transform: translateY(0);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
}

button + button {
  margin-left: 10px;
}

.score-display,
.level-display {
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px #000;
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.level-display,
.score-display,
.game-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.game-buttons button {
  margin-right: 10px;
}
.next-piece,
.controls {
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px #000;
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #fff;
  margin-bottom: 10px;
}
.next-piece h4 {
  margin-bottom: 10px; /* or whatever space you'd like between the title and the grid */
  font-size: 1.2em;
  color: #fff;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  margin-top: -215px;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  margin-top: -443px;
}

#nextPiecePreview .cell {
  width: 20px;
  height: 20px;
  margin: 0;
}

#nextPiecePreview {
  grid-gap: 0px;
  display: grid;
  grid-template-columns: repeat(4, 20px);
}
.next-piece h4,
.controls h4 {
  margin: 0;
  font-size: 1.2em;
  color: #fff;
}
