body {
  background-image: url("../assets/90-s-tetris-game-0438qkf6y8joxkfa.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  min-height: 101vh;
}

@keyframes blurExpand {
  0% {
    filter: blur(0px);
    transform: scale(1);
  }
  50% {
    filter: blur(5px);
    transform: scale(1.1);
  }
  100% {
    filter: blur(0px);
    transform: scale(1);
  }
}

.game-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: "Press Start 2P", cursive;
  font-size: 32px;
  background: linear-gradient(
    45deg,
    #ff4c4c,
    #4c4cff,
    #4cff4c,
    #ffff4c,
    #4cffff,
    #b34cff,
    #ff9933
  );
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.7), 5px 5px 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.controls h4,
.next-piece h4 {
  margin-top: 20px;
}

.controls ul {
  list-style-type: none;
  padding-left: 0;
}

.cell.WHITE {
  background-color: white;
  animation: blurExpand 200ms forwards;
}

.ghost {
  background: transparent;
  box-shadow: none;
}

.startPauseButtons {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  background: linear-gradient(
    45deg,
    #ff9999,
    #ffcc99,
    #ffff99,
    #ccff99,
    #99ff99,
    #99ffcc,
    #99ffff,
    #cc99ff
  );
  border: 3px solid #000;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  color: #000;
  transition: transform 0.2s, background 0.2s;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

.startPauseButtons:hover {
  transform: translateY(-3px);
  background: linear-gradient(
    45deg,
    #ff6666,
    #ff9933,
    #ffff66,
    #99ff66,
    #66ff66,
    #66ff99,
    #66ffff,
    #9933ff
  );
}

.startPauseButtons:active {
  transform: translateY(0);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
}

.startPauseButtons {
  width: 120px;
  text-align: center;
}
.startPauseButtons + .startPauseButtons {
  margin-left: 10px;
}

.score-display,
.level-display {
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px #000;
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.level-display,
.score-display,
.game-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.game-buttons button {
  margin-right: 10px;
}
.next-piece,
.controls,
.rules {
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px #000;
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #fff;
  margin-bottom: 10px;
}
.next-piece h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #fff;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  margin-top: -215px;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  margin-top: -285px;
  margin-right: 20px;
}

#nextPiecePreview .cell {
  width: 20px;
  height: 20px;
  margin: 0;
}

#nextPiecePreview {
  grid-gap: 0px;
  display: grid;
  grid-template-columns: repeat(4, 20px);
}
.next-piece h4,
.controls h4,
.controls h4 {
  margin: 0;
  font-size: 1.2em;
  color: #fff;
}
.keyboard-controls {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 200px;
}

.arrow-keys {
  display: flex;
  gap: 10px;
}

.key {
  background-color: #333;
  background-image: radial-gradient(circle, #555, #222);
  border: solid 2px #222;
  border-radius: 50%;
  box-shadow: 0px 4px 0px #111;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  color: #f2f2f2;
  padding: 12px 16px;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

.key:active {
  transform: translateY(3px);
  box-shadow: 0px 1px 0px #111;
}

.key.flip {
  width: 130px;
  border-radius: 25px;
  background-color: #444;
  background-image: linear-gradient(to bottom, #666, #222);
  box-shadow: 0px 4px 0px #111;
}
@keyframes streakAcross {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.streak {
  position: absolute;
  top: 0%;
  left: 0;
  height: 40%;
  width: 100%;
  background: linear-gradient(to right, transparent, yellow, transparent);
  pointer-events: none;
  animation: none;
  opacity: 0;
}

.level-number-yellow {
  color: yellow;
  transition: color 5s;
}

.level-display #level {
  background-color: transparent;
}

.streak.active {
  opacity: 1;
  animation: streakAcross 2s forwards;
}
@keyframes riseAnimation {
  0% {
    transform: translateY(2rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.score-animation {
  animation: riseAnimation 1s forwards;
  position: relative;
  font-family: "Press Start 2P", cursive;
  z-index: 2;
}

.score-animation[data-points="100"] {
  font-size: 1rem;
  color: #7b7b7b;
}

.score-animation[data-points="400"] {
  font-size: 1.2rem;
  color: #5a5a5a;
}

.score-animation[data-points="900"],
.score-animation[data-points="2000"] {
  font-size: 1.5rem;
  color: #37a0db;
}

.score-animation[data-points="200"] {
  font-size: 1.4rem;
  color: #4b4b4b;
}

.score-animation[data-points="800"],
.score-animation[data-points="4000"] {
  font-size: 1.8rem;
  color: #2a7bb7;
}

.score-animation[data-points="300"] {
  font-size: 1.6rem;
  color: #3b3b3b;
}

.score-animation[data-points="1200"],
.score-animation[data-points="6000"] {
  font-size: 2.2rem;
  color: #1c6ca3;
}

.score-animation[data-points="400"] {
  font-size: 1.8rem;
  color: #2b2b2b;
}

.score-animation[data-points="1600"],
.score-animation[data-points="8000"] {
  font-size: 2.5rem;
  color: #0d5a8f;
}

.score-animation[data-points="500"] {
  font-size: 2rem;
  color: #1b1b1b;
}

.score-animation[data-points="2000"],
.score-animation[data-points="10000"] {
  font-size: 2.8rem;
  color: #00477c;
}
.score-animation[data-points="20000"] {
  font-size: 3.2rem;
  color: #e63946;
}

.score-animation[data-points="30000"] {
  font-size: 3.5rem;
  color: #f1fa3c;
}

.score-animation[data-points="50000"] {
  font-size: 4rem;
  color: #01d28e;
}

.invisible {
  opacity: 0;
}

.start-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  text-shadow: 3px 5px 0 red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  z-index: 999;
  text-align: center;
  white-space: nowrap;
}

.start-text {
  animation: flashText 2s infinite;
}
@keyframes flashText {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  .start-overlay {
    font-size: 30px;
  }
}
.game-over-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-over-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  color: rgb(21, 0, 255);
  text-shadow: 3px 5px 0 rgb(155, 30, 157);
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  z-index: 999;
  text-align: center;
  white-space: nowrap;
}

#gameOverText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 4s ease-in-out forwards;
  top: 0%;
}

@keyframes bounce {
  0% {
    top: 0%;
  }
  30% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  70% {
    top: 50%;
  }
  85% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}
.try-again-text {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: rgb(0, 255, 21);
  text-shadow: 2px 3px 0 rgb(255, 155, 0);
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid rgb(0, 255, 21);
  padding: 5px;
  animation: flash 2s infinite;
}

.try-again-text:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 768px) {
  .game-over-overlay {
    font-size: 30px;
  }
  .try-again-text {
    font-size: 20px;
  }
}
